/*
    Name: Amith pappachen Sajan
    filename: style.css
    Course: INFT 2202 - 05
    Date: 10th jan 2025
    Description: This is my general style sheet.  Styles that affect all pages should go here.
*/